<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div>
    <h2>succesed logout...</h2>
    <%= form_tag '/logout' do %>
         
        <% end %>
</div>


<div style="color: black;
padding: 3px 5px;
text-align: center;
text-decoration: none;
display: inline-block;">
<%= link_to "Login again", root_path %>
</div>

<style>
h2{
    font-family: "Indie Flower", cursive;
}

</style>